@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = "SmartBlogLayout.cshtml";
}

@*<div class="smartBlogLeft">
        @RenderBody()
    </div>
    <div class="smartBlogRight">
        @Html.Partial("SmartSearch")
        @Html.Partial("SmartListTags")
        @Html.Partial("SmartListLatestComments")
        @Html.Partial("SmartListAuthors")
        @Html.Partial("SmartListCategories")
    </div>*@
<div class="row clearfix">
    <div class="col-md-3 column">
        <h2>
            Welcome
        </h2>
        <p>
            Kiarah is a gift to us and we want to share this gift with others.  We hope that this website will help everyone near and far to enjoy the moments we enjoy every day.
        </p>
		@Umbraco.Field("BodyTextColOne")
    </div>
    <div class="col-md-6 column">
        <p>
            @RenderBody()
        </p>
    </div>
    <div class="col-md-3 column">
        <p>
            @Html.Partial("SmartSearch")
        </p>
        <p>
            @Html.Partial("SmartListTags")
        </p>
        <p>
            @Html.Partial("SmartListLatestComments")
        </p>
        <p>
            @Html.Partial("SmartListAuthors")
        </p>
        <p>
            @Html.Partial("SmartListCategories")
        </p>
    </div>
</div>